.container {
    margin-top:10px;
    margin-left:20px;
    display: flex;
    height: 50vh;
}
.image-section {
    margin-top:8px;
    overflow-x: auto; 
  overflow-y:hidden;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height:60vh;
}
.image-section img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
.text-section {
    flex: 1;
    gap:10px;
    padding: 30px;
margin-left:40px;
}
.text-section p{
    width: 62%;
    margin-top: 0;
}
.button-container {
    display: flex; 
    justify-content: flex-start; 
    gap: 10px; 
    margin-top: 40px; 
}
.but{
    padding: 10px 15px; 
    font-size: 1em; 
    cursor: pointer;
    background-color: white; 
    color: black; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}
.button {
    padding: 10px 15px; 
    font-size: 1em; 
    cursor: pointer;
   
    background-color: white; 
    color: black; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}
.but:hover {
    background-color: #ff4500; 
}
.joinie-button{

    padding: 10px 20px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
.joinie-button:hover{
background-color:#ff4500;
color:white;
transform: scale(1.05);
border:none;
}