.facility-container {
    display: flex;
    justify-content: space-between; 
    margin: 20px; 
}

.facility-info, .facility-update {
    flex: 1; 
    padding: 20px;
    margin: 0 10px; 
    border-radius: 8px; 
  
}
.facility-update{
    color: rgb(127, 139, 151);
    font:16px ;
}

