.conta {
    display: flex;
    flex-direction: row; 
    gap: 30px; 
    padding: 20px;
 
}

.info-div {
    padding: 15px;
    border-radius: 5px;
}
.info-div p{
    color: rgb(127, 139, 151);
}
.info-div p:hover{
    color:black;
}
h3 {
    margin: 5px 0; 
}
.icon {
    margin-top: 40px;
    font-size: 24px;
    color: #000;
}
.icon i {
    margin: 0 10px;
    transition: color 0.3s;
}
.icon i:hover {
    color: #3b5998; 
    pointer:cursor;
}